:root {
  --ink-black: #0d1b2a;
  --prussian-blue: #1b263b;
  --dusk-blue: #415a77;
  --lavender-grey: #778da9;
  --alabaster-grey: #e0e1dd;
  --font-family: "Nunito", sans-serif;
}

* {
  color: var(--alabaster-grey);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

main {
  max-width: 1480px;
  background-color: var(--lavender-grey);
  margin: auto;
  padding: 20px;
}

.header {
  background-color: var(--dusk-blue);
  width: 100%;
}

.header-content {
  padding: 20px;
}

.hero {
  margin: auto;
  padding: 20px;
  text-align: center;
  padding: 20px;
  background-color: var(--prussian-blue);
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.hero h1 {
  font-size: 3.7rem;
  margin-bottom: 10px;
}

#name-header {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

#title-header {
  padding-bottom: 10px;
  font-style: italic;
}
